<div class="our-team" id="team">
	<div class="container">
		<div class="top-event">
			<h3>石材型錄</h3>
			<p>精選各類大理石、花崗石<strong style="color: black;"> 100 顆原石石材</strong></p>
		</div>
		<div class="team">
			<%= render @stones %>
		</div>
	</div>
</div>