<!--//footer-->
<div class="footer agileits w3layouts">	
  <div class="container">
    <ul class="social agileits w3layouts">
      <li><a href="https://www.facebook.com/pg/%E7%A4%A6%E5%85%83%E7%9F%B3%E6%A5%AD%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8-105622943182530/about/?ref=page_internal"></a></li>
    </ul>
    <p class="footer-class agileits w3layouts">&copy; 2016 Innate. All Rights Reserved. </p>
  </div>
</div>
<!--//footer-->

<script type="text/javascript">
	$(document).ready(function() {
		/* 
		var defaults = {
  			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
 		};
		*/
		$().UItoTop({ easingType: 'easeOutQuart' });		
	});
</script>
<a href="#" id="toTop" class="agileits w3layouts" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>