<!--header-->
<div class="header agileits w3layouts" id="home" style="background: #1F1F1F;">
  <div class="w3layouts">
    <div class="head agileits">
      <%= render "admin/common/nav" %>
    </div>
  </div>
</div>
<div class="container">
  <%= notice_message %>
</div>