<nav class="navbar aits navbar-default">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="wthree navbar-header">
    <button type="button" class="navbar-toggle agile collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only w3ls">Toggle navigation</span>
      <span class="icon-bar aits"></span>
      <span class="icon-bar w3l"></span>
      <span class="icon-bar aits"></span>
    </button>
    <div class="navbar-brand logo w3layouts wow fadeInLeft animated" data-wow-delay=".5s">
      <h1><a class="logo" href="/"><img src="<%= asset_url('logo.png') %>"></a></h1>	
    </div>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse agileits w3layouts nav-wil" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav wow fadeInDown agileits w3layouts animated" data-wow-delay=".5s">
      <li><a href="/" class="agileits w3layouts"><span data-hover="Home">前台</span></a></li>
      <li><a href="/admin/stones" class="agileits w3layouts"><span data-hover="Stone">管理石材</span></a></li>
      <li><a href="/admin/examples" class="agileits w3layouts"><span data-hover="Case">管理案例</span></a></li>
      <li><a href="/admin/techniques" class="agileits w3layouts"><span data-hover="Technique">管理工法</span></a></li>
      <li>
        <%= link_to destroy_admin_session_path, class: "agileits w3layouts", method: :delete do %>
          <span data-hover="SignOut">登出</span>
        <% end %>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>