<div class="team-grid wow fadeInRight animated" data-wow-delay=".5s">
  <img class="img-responsive agileits w3layouts gray" src="<%= asset_url('stone/DSC_0445.jpg') %>" alt="">
  <div class="col-1-at">
    <h5 class="text-center"><%= link_to stone.full_name, stone %></h5>
  </div>
</div>