<div class="team-grid wow fadeInRight animated" data-wow-delay=".5s">
	<%= link_to stone do %>
		<%= image_tag (stone.attachments.cover.try(:first).try(:image).try(:url) || "default.svg"), class: "img-responsive agileits w3layouts gray" %>
	<% end %>
  <div class="col-1-at">
    <h5 class="text-center"><%= link_to stone.full_name, stone %></h5>
  </div>
</div>