<div class="single agileits w3layouts">
  <div class="container">
    <div class="top-stone">
      <h3><%= @technique.full_name %></h3>
    </div>
        
    <div class="single-top col-md-9 col-sm-12">
      <div class="col-sm-12 team-grid wow fadeInLeft animated" data-wow-delay=".5s">
        <div class="col-1">
          <% if @technique.attachments.present? %>
            <% @technique.attachments.each do |attachment| %>
              <%= image_tag attachment.image.url, class: "img-responsive gray" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="lone-line col-sm-12 wow fadeInLeft animated" data-wow-delay=".5s">
        <ul class="grid-blog agileits w3layouts">
          <%= simple_format @technique.description %>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="col-1-at md-word sidebar-title-wrapper">
        <h5 class="text-center sidebar-title"><a href="single.html">適用石材</a></h5>
      </div>
      <%= render partial: "sidebar/stone", collection: @technique.stones, as: :stone %>
    </div>
  </div>      
</div>