<h2>
	首頁列表
</h2>
<div class="table-responsive">
<table class="table table-hover">
	<thead>
		<tr>
			<th>圖標</th>
			<th>標題</th>
			<th>內容</th>
			<th>順序</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render @tabs %>
	</tbody>
</table>
</div>