<div class="single agileits w3layouts">
  <div class="container">
    
    <div class="single-top">
            
            <div class="top-stone">
                <h3>木化石 Moca Cream</h3>
            </div>
            
            <div class="col-md-9">
                <div class="col-md-12 team-grid wow fadeInLeft animated" data-wow-delay=".5s">
           <div class=" col-1 ">
            <img class="img-responsive gray" src="images/stone/DSC_0445.jpg" alt="">
           </div>
        </div>
                
        <div class="lone-line col-md-9">
            <ul class="grid-blog agileits w3layouts">
            <p class="wow fadeInLeft agileits w3layouts animated" data-wow-delay=".5s">石材描述
                            <span>石材特色：米黃Yellow</span>
                            <span>石材產地：台灣 台中</span>
                            <span>適用場所：客廳、會議廳、書房</span>
                        </p>
                        </ul>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="col-1-at">
                  <h5><a href="single.html">工程實績 Gallery</a></h5>
                        </div>
                <img class="img-responsive wow fadeInUp agileits w3layouts animated" data-wow-delay=".5s" src="images/ex-1.jpg" alt="" />
                <img class="img-responsive wow fadeInUp agileits w3layouts animated" data-wow-delay=".5s" src="images/ex-3.jpg" alt="" />
                <img class="img-responsive wow fadeInUp agileits w3layouts animated" data-wow-delay=".5s" src="images/ex-4.jpg" alt="" />
                <img class="img-responsive wow fadeInUp agileits w3layouts animated" data-wow-delay=".5s" src="images/ex-1.jpg" alt="" />
                <img class="img-responsive wow fadeInUp agileits w3layouts animated" data-wow-delay=".5s" src="images/ex-3.jpg" alt="" />
                <img class="img-responsive wow fadeInUp agileits w3layouts animated" data-wow-delay=".5s" src="images/ex-4.jpg" alt="" />
                
            </div>
      
    </div>
  
  </div>    
</div>