body:not(.home) #home {
	min-height: 175px;
}

table.table {
  th, td {
		word-break: break-all;
  }
}

.event-gr > p {
	word-break: break-word;
}

.no_content_div {
	padding: 20px 10px;
  background: #eee;
  color: #555;
}
.sidebar-title-wrapper {
	padding: 1.5em 0px;
}
.sidebar-title {
  border-bottom: 2px solid #8ec21f;
  padding-bottom: 20px;
}

ul.nav.navbar-nav li a.active {
	color: #8ec21f;
}

.no_bg:before {
	content: none !important;
	width: 0px;
	height: 0px;
	background: none !important;
}

label.hvr-rectangle-out {
  margin-top: 0em;
  input[type="submit"] {
	  border: none;
	  outline: none;
	  background: none;
	  color: #8ec21f;
	}
	&:hover input[type="submit"] {
		color: #fff;
	}
}

.devise-form-wrapper {
	padding: 30px 30%;
}

@media(max-width:767px){
	.devise-form-wrapper {
		padding: 30px;
	}
}

@media(max-width:375px){
	.map iframe {
		min-height: 250px;
	}
	.logo {
		margin-top: 13px;
	}
	a.logo img {
		width: 100px;
		margin-left: 15px;
	}
}

label.required:after{
	content:"*"
}