<!--header-->
<div class="header agileits w3layouts" id="home">
  <div class="w3layouts">
    <div class="head agileits">
      <%= render "common/nav" %>
    </div>
  </div>
  <% if current_page?(root_path) %>
	  <div class="container w3layouts">
	    <div class="banner agileits w3layouts">
	      <section class="wrapper wow agileits w3layouts fadeInUp animated" data-wow-delay=".5s">
	      	<h2>歡迎光臨礦元石業 .帶您進入<span style="color: #8ec21f;">石</span>空走廊<h3>
		      <h3 class="sentence agileits w3layouts">
		        <div class="popEffect agileits w3layouts">
		          <span> 專業呈現</span>
		          <span> 石材買賣</span>
		          <span> 工程施作</span>
		        </div>
		      </h3>
	      </section>
	    </div>
	  </div>
  <% end %>
</div>